## Lecture 2
-  Data Types
-  Keywords
-  Errors
-  Operator Precedence
-  Operators
-  Keyboard Input
-  Str, Int, Float and Bool type conversion

## Data Types
-  Python supports the following data types:
   - integer
     - int
     - +ve or -ve whole numbers
   - floating point
     - float
     - +ve or -ve decimal numbers
   - string
     - str
     - Quoted character or text
   - boolean
     - bool
     -  True or False
   - complex
     - will not cover in the class

In [1]:
type(5)

int

In [2]:
type(-5)

int

In [3]:
type(3.14)

float

In [4]:
type(-3.14)

float

In [5]:
type("Hello Python!")  # could be single or double or triple quoted

str

In [6]:
type(True)

bool

In [7]:
type(False)

bool

## Keywords
- 33 words are **reserved** by the python programming language
- Those words cannot be used to name variables or functions or classes
- They are **case sensitive**.  False and false are different
- Jupyter shows them as **green colored** text
```
False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise
```

In [ ]:
for

## Errors
-  There are three kinds of errors you will experience in python programming
   - Syntax Error
   - Semantic Error
   - Runtime Error

### Syntax Error
- Python language has a grammar, the code we write must follow the grammar
- Python throws syntax error when it does not understand what we are saying

In [8]:
True=100  # True is a reserved keyword, use are using it as a variable name

SyntaxError: can't assign to keyword (<ipython-input-8-d4c48a1dc211>, line 1)

In [9]:
(4+)  # operator plus needs another operand

SyntaxError: invalid syntax (<ipython-input-9-4ea6c207fba4>, line 1)

In [10]:
+4 # this is legal, so is -4

4

In [11]:
(4+2]  # right parantheses is missing

SyntaxError: invalid syntax (<ipython-input-11-8097b5e5cf3a>, line 1)

### Semantic Error
  - Correct syntactically but does not have the desired effect
  - Program behaves different than what you expected it to do 
  - Forgetting to multiply a fraction by 100 to obtain a percentage

In [12]:
negativeThreeSquared = -3** 2 # you expected -3 x -3 = 9
print(negativeThreeSquared)  # ** has higher precedence than unary -

-9

### Runtime Error:
  - Syntactically correct programs sometimes cause error during execution
  - When not handled by program, error message shows up

In [13]:
10/0  # division by zero

ZeroDivisionError: division by zero

In [14]:
x = y + 5   # y is undefined

NameError: name 'y' is not defined

In [15]:
'2' + 2  # adding a string '2' with an integer 2

TypeError: Can't convert 'int' object to str implicitly

## Adding Strings with +
-  string + string results in concatenation
-  What happens when you subtract, multiply and divide strings?
-  What happens when you string * integer?

In [16]:
'2' + '2'  # + concatenates strings

'22'

In [18]:
'2'-'2'    # cant subtract 2 strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [19]:
'2'*2.0

TypeError: can't multiply sequence by non-int of type 'float'

In [21]:
'2' * 3         # string gets repeated 3 times

'222'

##  Operator Precedence

-  Let say we have a mathematical expression involving a bunch of operators
-  Python evaluates the operators in the order of their precedence
-  **PEMDAS**
   1. Parenthesis
      - Force the evaluation the way you want
   2. Exponentiation
   3. Multiplication, Division (/, //), Modulus
      - Evaluate from left to right
   4. Addition and subtraction
      - Evaluate from left to right
   5. Operators with the same precedence are evaluated from left to right (except exponentiation)

In [22]:
# Is it (3*2)-1 or 3*(2-1)?
3*2-1  # * has higher precedence than -

5

In [23]:
3*(2-1) # use parenthesis to override default precedence

3

In [24]:
 3**2+2 # exponentiation has higher precedence than addition. Not 3 ** 4

11

In [25]:
2*3-1  # multiplication has higher precedence than subtraction.  Not 2 * 2

5

In [26]:
6+4/2 # division has higher precedence than subtraction.  Not 10/2

8.0

In [27]:
# 2π (radians) == 180 (degrees)
# 1  (radian) = 180/2π
180/2*3.141592653589793  # incorrect.  division and then multiplication

282.7433388230814

In [28]:
180/(2*3.141592653589793) # correct. multiplication and then division

28.64788975654116

In [29]:
2**3**4  # right to left evaluation

2417851639229258349412352

In [30]:
(2**3)**4

4096

In [31]:
2**(3**4)

2417851639229258349412352

## Comparison Operators

| Operator | Description | Example |
|----------|-------------|---------|
| ==	| If the values of two operands are equal, then the condition becomes true | (a == b) is not true |
| !=	| If values of two operands are not equal, then condition becomes true     | (a != b) is true |
| >	    |If the value of left operand is greater than the value of right operand, then condition becomes true |	(a > b) is not true |
| <	    | If the value of left operand is less than the value of right operand, then condition becomes true |	(a < b) is true |
| >=	| If the value of left operand is greater than or equal to the value of right operand, then condition becomes true |	(a >= b) is not true |
| <=	| If the value of left operand is less than or equal to the value of right operand, then condition becomes true |	(a <= b) is true |

In [32]:
5 == 5 # 5 is equal to 5, hence True

True

In [33]:
5 == 10 # 5 is not equal to 10, hence False

False

In [34]:
5 != 5 # 5 is equal to 5, hence False

False

In [35]:
5 != 10 # 5 is not equal to 10, hence True

True

In [36]:
5>3 # True, 5 is greater than 3

True

In [37]:
5>=5  # True, 5 is greater and equal to 5

True

## Logical Operator

|Operator | Description | Example |
|----------|-------------|---------|
|and |	If both the operands are true then condition becomes true | (a and b) is true |
|or |	If any of the two operands are non-zero then condition becomes true | (a or b) is true |
| not | Used to reverse the logical state of its operand | Not(a and b) is false |

### and Operator

In [38]:
True and True #  True and True is True, rest if False

True

In [ ]:
False and False # False and False is False

In [ ]:
False and True # False and True is False

### or Operator

In [40]:
True or True #  True and True is True

True

In [41]:
False or False # False and False is False

False

In [ ]:
False or True # False and True is True

### not Operator

In [42]:
not True # False

False

In [43]:
not False # True

True

## Membership Operator
| Operator | Description 
|----------|-------------|
| in       | True if something is in a collection |
| not in       | True if something is **NOT** in a collection |

In [44]:
"name" in "firstname" # name is in firstname, hence True

True

In [45]:
"foo bar" in "firstnmae" # foo bar not in firstname, hence False

False

## Identity Operator
| Operator | Description 
|----------|-------------|
| is       | True if something is the same object |
| not is       | True if something is **NOT** the same object |

In [46]:
"firstname" is "firstname" #both the strings are the same value, hence True

True

In [47]:
"firstname" is "FirstName" #both the strings are have different value, hence False

False

In [48]:
5 is 5 # both the integers have the same value

True

There are also bitwise and augmented assignment operators. 

## Bitwise
- &
  - Binary AND
- | 
  - Binary OR
- ^
  - Binary  XOR
- ~
  - ones complement, flip bits 0 becomes 1, 1 becomes 0
- <<, >> left and right shift

- Refer:
  - [Python Operators and Precedence](https://www.tutorialspoint.com/python/python_basic_operators.htm)

  - [Bitwise Operations](https://wiki.python.org/moin/BitwiseOperators)

In [56]:
0b1111 & 0b0000  # integers can have prefix 0x 0X 0b 0B

0

In [57]:
0b1111 | 0b0000

15

In [94]:
0b01111111  # 0111 1111

127

In [88]:
0b00000001  # 0000 0001

1

In [95]:
0b00000000  # 0000 0000

0

In [96]:
-0b00000001 # 0000 0001

-1

In [90]:
-0b00000010 # 0000 0010

-2

In [97]:
-0b10000000  # 1000 0000

-128

In [93]:
~ (-0b10000000)  # 0111 1111

127

## Augmented Assignment
- x = x + 1
  - x +=1
- x = x * 2
  - x *= 2

## Conversion Functions
- Convert from one data type to the other
    - Between str and int
    - Between int and float
    - Between int, float, str, bool to bool

In [50]:
str_123 = "123"
int_123 = int(str_123)   # converting from string to int
int_123

123

In [51]:
int_123 = 123
str_123 = str(int_123)   # converting from int to str
str_123

'123'

### Value Error

In [ ]:
floatStr123 = "123.0"      # can convert to float not int
int123 = int(floatStr123)  #failure to convert a string to int

In [ ]:
float123 = float(floatStr123)  # converting from str to float
float123

In [ ]:
floatStr123 = str(float123)    # converting from float to str
floatStr123

In [ ]:
alphaStr = "abcd"
int(alphaStr)

In [ ]:
float(alphaStr)

In [ ]:
str(alphaStr)

In [98]:
x=input("foo",/)

SyntaxError: invalid syntax (<ipython-input-98-6d81439de613>, line 1)

## Keyboard Input
- We used the python print() function to output to screen which is **standard out**
- Now we are going to read input from keyboard which is **standard in**
- We can read numbers, text and punctuations
- Use function input()
- It takes a prompt string as its parameter

```
input(prompt=None)

Read a string from standard input.  
The trailing newline is stripped.
    
The prompt string, if given, is printed to standard output without a trailing newline before reading input.
    
If the user hits EOF (*nix: Ctrl-D, Windows: Ctrl-Z+Return), raise EOFError.
```

### Reading str

In [ ]:
name = input("Enter First Name: ")
print (name)

### Reading integer

In [ ]:
weight = input("Enter your weight: ")   # still reading a string
print("Weight: ",weight," Type: ", type(weight))

## Convert from Str to Int 
- Since input returns a string, we need to convert it to integer using int() function

In [ ]:
weight = int(weight)
print("Weight: ",weight," Type: ", type(weight))

### Reading float

In [ ]:
pi = input("Enter π value: ")
pi = float(pi)
print("pi: ",pi," Type: ", type(pi))

## Input Error
- Here we are expecting a string of numbers
- User enters an invalid input

In [ ]:
weight = input("Enter your weight: ")
print("Weight: ",weight," Type: ", type(weight))
weight = int(weight)
print("Weight: ",weight," Type: ", type(weight))

In [ ]:
int('33.4') # int() function is not able to convert this string to int

In [ ]:
int('') # Empty string, throws exception

## How do we validate input?
- We use try except block and a repeat loop to handle
  - We will revisit it later
- Here the output of input() is feed into the int()
  - int() throws an exception on error
  - Code handles the exception and tries again in a loop
  - loop terminates when valid input is entered

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")
print (x)

## Converting to bool
- From int, float, str to bool
  - 0, 0.0, '', False and None converts to False, rest converts to True

In [36]:
bool(0)  # 0 converts to False

False

In [37]:
bool(1) # any +ve or -ve number converts to True

True

In [35]:
bool(0.0) # 0.0 converts to False

False

In [38]:
bool('')  # Empty String converts to False

False

In [41]:
bool('Hello World')  # non empty string converts to True

True

In [39]:
bool(False)

False

In [40]:
bool(True)

True

In [42]:
bool(None)

False

In [43]:
int(True)

1

In [44]:
int(False)

0

In [46]:
str(False)

'False'

In [47]:
str(True)

'True'

In [48]:
str(None)

'None'

## Id Function

In [60]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [61]:
id(5)

10914496

In [66]:
a=5     # a points to the same object 5, hence same id
print("id(a) =", id(a), "\nid(5) =", id(5))

id(a) = 10914496
id(5) =  10914496

In [67]:
b=5    # b points to the same object 5, hence the same id
print("id(b) =", id(b))

id(b) = 10914496

In [70]:
b=10   # b points to a different object 10, hence different id
print("id(b) =", id(b), "\nid(10) =", id(10))

id(b) = 10914656
id(10) = 10914656

In [69]:
b=5
print("id(b) =", id(b))

id(b) = 10914496

## Formatted Print
- String formatting operator %
  - [Read String Formatting Operator](https://realpython.com/python-string-formatting/#1-old-style-string-formatting-operator)
- String format method
  - [Read String Format Method](https://realpython.com/python-string-formatting/#2-new-style-string-formatting-strformat)
- [Read sections 1-9](https://pyformat.info/)

## Recap
- We looked at python reserved keywords, which we must not use as names for variables, constant, function or classes
- Syntax, Semantic and Runtime errors
- PEMDAS - Parentheses, Exponentiation, (Multiplication, Division) and (Addition, Subtraction)
- In addition to arithmetic operators python supports comparison, logical, bitwise, assignment, membership and identity operators
- We did **not** look into bitwise and augmented assignment operators
- How to input data from keyboard using input() function
- And using int() and float() function we convert str into to int and float types
- id function
- String Formatting

## Assignments
- Data Types Writing Assignment
- Working with Operators Writing Assignment
- Variables Writing Assignment
- Standard Input and Standard Output Writing Assignment
- Formatted Print and Comments Writing Assignment

## Quiz
- Quiz 1
- Quiz 2